@import '~antd/dist/reset.css';
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Prompt", sans-serif;
}

.drag-handle {
  cursor: move;
}

.drag-over-row td {
  background-color: #e6f7ff;
}

.dragging-row {
  opacity: 0.5;
}
